.TripStop {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.TripStop:hover {
  background-color: #EEE;
}

.TripStop .icon {
  width: 20px;
  height: 20px;
  margin: 20px;
  border-radius: 50%;
  border: 1px solid #666;
}

.TripStop h3 {
  font-size: 12px;
  font-weight: 300;
  margin-top: 3px;
}
