.Trip {
  flex: 1;
  overflow: scroll;
}

.Trip h2, .Trip h3 {
  font-weight: 300;
  text-align: center;
}

.Trip h2 {
  padding: 10px 0 5px 0;
  font-size: 26px;
}

.Trip h3 {
  font-size: 16px;
  border-bottom: 1px solid #EEE;
  padding-bottom: 10px;
}

.Trip .schedule {
  position: relative;
}

.Trip .line {
  border-right: 6px solid #CCC;
  position: absolute;
  left: 27px;
  top: 30px;
  bottom: 30px;
}

.Trip .stopped {
  color: #3972AB;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
