.Trip {
  flex: 1;
  overflow: scroll;
}

.Trip h2 {
  font-weight: 300;
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
  font-size: 16px;
  background-color: #EEE;
}

.Trip h2 em {
  font-style: normal;
  flex: 1;
  text-align: right;
}

.Trip .schedule {
  position: relative;
}

.Trip .line {
  border-right: 6px solid #CCC;
  position: absolute;
  left: 27px;
  top: 30px;
  bottom: 30px;
}
