.TripStop {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.TripStop:hover {
  background-color: #EEE;
}

.TripStop .icon {
  width: 20px;
  height: 20px;
  margin: 20px;
  border-radius: 50%;
  border: 1px solid #666;
  background-color: white;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.TripStop h4 {
  font-size: 12px;
  font-weight: 300;
  margin-top: 3px;
}

.TripStop .yourStop {
  display: flex;
  width: 40px;
  font-size: 28px;
}

.TripStop .yourStop img {
  width: 20px;
  height: 20px;
}

.TripStop .stopDetails {
  flex: 1;
}
