.Arrivals {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Arrivals header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EEE;
  padding-right: 60px;
}

.Arrivals header .mdi {
  width: 20px;
  margin: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #444;
}

.Arrivals header .mdi-map {
  display: none;
}

.Arrivals header h2 {
  padding: 30px 0;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.Arrivals header .details {
  flex: 1;
  padding: 10px 0;
  cursor: pointer;
}


.Arrivals .arrivalList {
  flex: 1;
  overflow: scroll;
  border-bottom: 1px solid #DDD;
}

.Arrivals .noArrivals {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: #AAA;
  min-height: 60px;
}

.Arrivals .loader {
  width: 100%;
  height: 1px;
  background-color: #DDD;
  position: relative;
  margin-top: -1px;
}

.Arrivals .loader .loadBar {
  height: 100%;
  position: relative;
}

.Arrivals .loadAnimation {
  background-color: #AAA;
  animation: cssload-width 10s cubic-bezier(0.45, 0, 1, 1);
}

@keyframes cssload-width {
	0%, 100% {
		transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@media (max-width: 700px) {
  .Arrivals header {
    padding-right: 0;
  }

  .Arrivals header .mdi-map {
    display: block;
  }
}
