.Arrival {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EEE;
  height: 60px;
  cursor: pointer;
}

.Arrival:hover {
  background-color: #EEE
}

.Arrival .details {
  flex: 1;
}

.Arrival .minutesUntil {
  width: 8ch;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Arrival .minutesUntil div {
  margin-top: 3px;
  font-size: 8px;
  color: #666;
}

.Arrival h3 {
  font-weight: 300;
  width: 22%;
  text-align: center;
}

.Arrival h4 {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}

.Arrival h5 {
  font-weight: 400;
  font-size: 10px;
  margin-top: 3px;
}
