.Map {
  width: 100%;
  position: relative;
  background-color: #EEE;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: auto;
  z-index: 1;
}

.Map.hidden {
  display: none;
}

.Map .backButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.Map div:last-child {
  flex: 1;
}

@media (max-width: 700px) {
  .Map .backButton {
    display: flex;
  }
}
