.RouteResult {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #DDD;
  align-items: center;
  cursor: pointer;
  background-color: white;
  color: #AAA;
}

.RouteResult:hover {
  background-color: #EF382B;
  color: white;
}

.RouteResult .description {
  font-weight: 300;
  font-size: 12px;
}
