.Search {
  flex: 1;
}

.Search h1 {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}

.Search .geosuggest input {
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 18px;
  font-size: 16px;
  font-weight: 300;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  margin: 0;
}

.Search .geosuggest input:focus {
  outline: none;
  background-color: white;
}

.Search .geosuggest ul {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #DDD;
}

.Search .geosuggest li {
  display: flex;
  font-size: 12px;
  font-weight: 300;
  height: 40px;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #EEE;
  overflow: hidden;
  color: #888;
  background-color: white;
}

.Search .geosuggest li:hover, .Search .geosuggest .geosuggest__item--active {
  color: white;
  background-color: #EF382B;
}

.Search header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EEE;
}

.Search header .mdi {
  width: 20px;
  margin: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #444;
}

.Search header .mdi-map {
  display: none;
}

.Search header h2 {
  padding: 20px 0;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.Search header .details {
  flex: 1;
  padding: 10px 0;
}

@media (max-width: 700px) {
  .Search header {
    padding-left: 60px;
  }

  .Search header .mdi-map {
    display: block;
  }
}
