.Nearby {
  width: 100%;
  display: flex;
  flex: 1;
  height: auto;
}

.Nearby .wrapper {
  width: 100%;
  flex: 1;
  display: flex;
}

.Nearby .Stop {
  width: 25%;
  min-width: 350px;
}

@media (max-width: 700px) {
  .Nearby {
    overflow: scroll;
    flex-direction: column;
  }

  .Nearby .map {
    width: 100%;
    height: 100%;
  }

  .Nearby .Stop {
    width: 100%;
    height: auto;
  }
}
