.Nearby {
  width: 100%;
  display: flex;
  flex: 1;
  height: auto;
}

.Nearby .wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  height: 100%;
}

.Nearby .Stop {
  width: 350px;
}

@media (max-width: 700px) {
  .Nearby {
    overflow: scroll;
    flex-direction: column;
  }

  .Nearby .map, .Nearby .Stop, .Nearby .NoStop {
    width: 100%;
  }
}
